* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav-daroca {
    height: 100px;
    background-color: rgb(14, 69, 9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 400px;
}

#corpo {
    background-color: rgb(195, 195, 195);
    color: black;
    margin: 10px;
    padding: 10px;
    flex: 1; /* Faz o id=corpo crescer e empurrar o footer para baixo */
    border-radius: 10px;
}

#corpo h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
}

#corpo h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.form-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#div-form {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.btn-form {
    border: none;
    background-color: rgb(14, 69, 9);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#atalhos {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: 0 auto 30px auto;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

#atalhos h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(14, 69, 9);
}

#atalhos ul {
    list-style: none;
    padding: 0;
}

#atalhos li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    transition: 0.3s;
}

#atalhos li i {
    font-size: 16px;
    color: rgb(14, 69, 9);
}

#atalhos li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#atalhos li:hover {
    transform: translateX(5px);
}

footer {
    background-color: rgb(14, 69, 9);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

.footer-daroca {
    padding: 20px 40px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.links {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.form-contato textarea {
    width: 100%;
    max-width: 600px;
    height: 120px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: none; /* tira o negócio da caixa de texto*/
    font-family: "Quicksand", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.2s ease-in-out;
}
.form-contato textarea:focus {
    border-color: rgb(14, 69, 9);
    background-color: #fff;
    box-shadow: 0 0 5px rgba(14, 69, 9, 0.3);
}

