.menu{
    display: flex;
    justify-content:center;
    padding: 10px;
    margin: 0px;
    gap: 7px;
    border-radius: 15px;
    font-family: "Quicksand", sans-serif;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header{
     background-color: #4F7302;
     padding: 5px;
     
}

#pedidos{
    background-color: #D97904;
}
#mercadorias{
    background-color:yellowgreen;
}
#cadastroentrar{
    background-color:#F29F05;
}
#menusobre{
    background-color: #274001;
}
#menusobre:hover{
    background-color:blue;
}
#mercadorias:hover{
    background-color: purple;
}
#pedidos:hover{
    background-color:darkgreen;
}
#cadastroentrar:hover{
    background-color:green;
}
body{
    background-color:#374d39;
}
footer{
    background-color: blue;
}
.cards-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.card {
    padding: 20px;
    border-radius: 15px;
    margin: 50px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: whitesmoke;
    text-decoration:none;
    font-family: "Quicksand", sans-serif;
}
#card-mercadorias{  
    background-color: #e93939;}
#card-pedidos{
 background-color: #274001;
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 20px;
}

.card button {
    background-color: violet;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: darkorange;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cadastrado {
    position: absolute;
    right: 10px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    padding: 51px;
    color: white;
    font-size: 27px;
}
#carrinho{
    width: 250px;
    height: 250px;
}
#pesquisa{
    display: flex;
    justify-content: center;
}
#barra_de_pesquisa{
    width: 950px;
    height: 40px;
}
#buscar{
    background-color: darkgreen;
    padding: 10px;
    border-radius: 15px;
    border: none;
    color: white;
}
.logo{
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 10px;
    display: flex;
    justify-content:center;
}

#coracao{
    left: 60px;
}
footer{
    position: fixed;
    bottom: 0;        
    width: 100%;       
    height: 110px;      
    display: flex;
    justify-content: space-evenly;
    background-color: #4F7302;
    border-top: 20px solid rgb(10, 77, 4); 
    flex-wrap: wrap;    
}
.footerdaroca{
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    color: #ffffff;
}
.footerdaroca > li,ul,a{
    font-weight: 500;
    font-family: sans-serif;
    color: #ffffff;
    gap: 200px;
}
.footerdaroca > h3{
    margin-bottom: 20px;
}
.redessocias{
    font-size:20px;
    margin-left: 10px;
    margin-top: 5000px;
    background-color: white;
    color: #000000;
    padding: 10px;
    border-radius: 100px;
}   
#bemvindo{
    text-align: center;
    margin-top: 50px;
    font-size:90px;
    color: white;
    font-weight:bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#usuario {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    margin-left: 0;
    right: 10px;
    display: flex;
    justify-content: center;
    position:fixed;
    cursor: pointer; /* indica um link */
}

.menu-usuario {
    position: relative; /* ficar alinhado com o ícone */
    padding-bottom:30px;
    
}

.opcoes-usuario {
    display: none;
    position: fixed;
    top: 40px; 
    right: 10px; 
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    overflow: hidden;
    width: 220px;
    z-index: 1000; /* se sobre põe ao sobre o elemento, de acordo com a hierarquia */
    text-align: center;
    padding: 20px;
    margin: 15px;
    border:20px #274001;
}

.opcoes-usuario.active {
    display: block;
}

.opcoes-usuario a {
    display: block;
    text-decoration: none;
    padding: 12px 16px;
    color: #274001;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.3s ease;
}
.opcoes-usuario.a:hover {
    background-color: #e93939;
}

.opcoes-usuario h1 {
    color: #274001;
    text-align: center;
    font-weight: bold;
}


